body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#chatbox {
    display: flex;
    align-items: flex-start;
    background-color: azure;
    flex-direction: column;
    max-width: 500px;
    padding: 25px;
    margin: 10px;
    height: 500px;
    border: 1px solid #15ddc2;
    overflow-y: scroll;
}
.user {
    align-self: flex-end;
    text-align: right;
    width: auto;
    margin: 4px 0px;
    max-width: 275px;
    background-color: #09aa95;
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
    color: rgb(0, 0, 0);
}
.bot {
    text-align: left;
    width: auto;
    margin: 4px 0px;
    max-width: 345px;
    background-color: #15ddc2;
    border-radius: 10px;
    padding: 8px;
    color: rgb(0, 0, 0);
}

.box-options {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    grid-template-rows: auto auto;  /* 2 rows */
    gap: 5px; /* Gap between the grid items */
    width: 100%;

}

.options {
    background-color: #07667e;
    border-radius: 15px;
    padding: 7px;
    margin: 4px;
    border: none;
    color: white;
}

.options:hover {
    cursor: pointer;
    background-color: #15ddc2;
}

#userInput {
    display: none;
    background-color: #cde2f0;
    margin: 8px;
    height: 17px;
    padding: 5px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

#submitButton {
    display: none;
}

.hidden {
    display: none;
}

a {
    color: red;
    font-size: 1.2em;
    
}